@font-face {
  font-family: 'iconfont';  /* project id 2370010 */
  src: url('//at.alicdn.com/t/font_2370010_3j00fgnbxky.eot');
  src: url('//at.alicdn.com/t/font_2370010_3j00fgnbxky.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_2370010_3j00fgnbxky.woff2') format('woff2'),
  url('//at.alicdn.com/t/font_2370010_3j00fgnbxky.woff') format('woff'),
  url('//at.alicdn.com/t/font_2370010_3j00fgnbxky.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_2370010_3j00fgnbxky.svg#iconfont') format('svg');
}
.iconfont {
  font-family: "iconfont" !important;
  font-size: 16PX;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-search:before {
  content: "\e65c";
}

.icon-back:before {
  content: "\e679";
}

.icon-cascades:before {
  content: "\e67c";
}

.icon-list:before {
  content: "\e682";
}

.icon-more:before {
  content: "\e684";
}

.icon-scan:before {
  content: "\e689";
}

.icon-right:before {
  content: "\e6a3";
}

.icon-refresh:before {
  content: "\e6a4";
}

.icon-moreandroid:before {
  content: "\e6a5";
}

