@font-face {
  font-family: 'iconfont';  /* project id 2370010 */
  src: url('//at.alicdn.com/t/font_2370010_tc1xwlq0waj.eot');
  src: url('//at.alicdn.com/t/font_2370010_tc1xwlq0waj.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_2370010_tc1xwlq0waj.woff2') format('woff2'),
  url('//at.alicdn.com/t/font_2370010_tc1xwlq0waj.woff') format('woff'),
  url('//at.alicdn.com/t/font_2370010_tc1xwlq0waj.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_2370010_tc1xwlq0waj.svg#iconfont') format('svg');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16PX;
  font-style: normal;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-search:before {
  content: "\e65c";
}

.icon-back:before {
  content: "\e679";
}

.icon-cascades:before {
  content: "\e67c";
}

.icon-list:before {
  content: "\e682";
}

.icon-more:before {
  content: "\e684";
}

.icon-scan:before {
  content: "\e689";
}

.icon-right:before {
  content: "\e6a3";
}

.icon-refresh:before {
  content: "\e6a4";
}
.icon-moreandroid:before {
  content: "\e6a5";
}
.icon-loading:before {
  content: "\e64f";
}
.icon-location:before {
  content: "\e651";
}
.icon-round_check_fill:before {
  content: "\e656";
}
.icon-round_check:before {
  content: "\e657";
}
.icon-round:before {
  content: "\e6d7";
}
.icon-delete:before {
  content: "\e6b4";
}
.icon-add:before {
  content: "\e767";
}
.icon-move:before {
  content: "\e768";
}
.icon-pull_down:before {
  content: "\e79f";
}
.icon-check:before {
  content: "\e645";
}
.icon-close:before {
  content: "\e646";
}
.icon-order:before {
  content: "\e66c";
}
.icon-top:before {
  content: "\e69e";
}
.icon-attention:before {
  content: "\e73d";
}
