@font-face {
  font-family: 'iconfont';  /* project id 2370010 */
  src: url('//at.alicdn.com/t/font_2370010_053sqys6n33.eot');
  src: url('//at.alicdn.com/t/font_2370010_053sqys6n33.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_2370010_053sqys6n33.woff2') format('woff2'),
  url('//at.alicdn.com/t/font_2370010_053sqys6n33.woff') format('woff'),
  url('//at.alicdn.com/t/font_2370010_053sqys6n33.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_2370010_053sqys6n33.svg#iconfont') format('svg');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16PX;
  font-style: normal;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-search:before {
  content: "\e65c";
}

.icon-back:before {
  content: "\e679";
}

.icon-cascades:before {
  content: "\e67c";
}

.icon-list:before {
  content: "\e682";
}

.icon-more:before {
  content: "\e684";
}

.icon-scan:before {
  content: "\e689";
}

.icon-right:before {
  content: "\e6a3";
}

.icon-refresh:before {
  content: "\e6a4";
}
.icon-moreandroid:before {
  content: "\e6a5";
}
.icon-loading:before {
  content: "\e64f";
}
.icon-location:before {
  content: "\e651";
}
.icon-round_check_fill:before {
  content: "\e656";
}
.icon-round_check:before {
  content: "\e657";
}
.icon-round:before {
  content: "\e6d7";
}
.icon-delete:before {
  content: "\e6b4";
}
.icon-add:before {
  content: "\e767";
}
.icon-move:before {
  content: "\e768";
}
.icon-pull_down:before {
  content: "\e79f";
}
.icon-check:before {
  content: "\e645";
}
.icon-close:before {
  content: "\e646";
}
.icon-order:before {
  content: "\e66c";
}
.icon-top:before {
  content: "\e69e";
}
.icon-attention:before {
  content: "\e73d";
}
.icon-cascades:before {
  content: "\e67c";
}
.icon-list:before {
  content: "\e682";
}
.icon-cart:before {
  content: "\e6af";
}
.icon-cart_fill:before {
  content: "\e6b9";
}
.icon-cart_light:before {
  content: "\e7d6";
}
.icon-cart_fill_light:before {
  content: "\e7d8";
}
.icon-favor:before {
  content: "\e64c";
}
.icon-favor_fill:before {
  content: "\e64b";
}
.icon-lick:before {
  content: "\e669";
}
.icon-lick_fill:before {
  content: "\e668";
}
.icon-share:before {
  content: "\e6f3";
}
.icon-comment:before {
  content: "\e667";
}
.icon-deliver:before {
  content: "\e671";
}
.icon-pay:before {
  content: "\e673";
}
.icon-send:before {
  content: "\e675";
}
.icon-form:before {
  content: "\e699";
}
.icon-sponsor:before {
  content: "\e77d";
}
.icon-info:before {
  content: "\e6e5";
}
.icon-yonghushezhi:before {
  content: "\e67a";
}
.icon-ditu:before {
  content: "\e681";
}
.icon-shezhi:before {
  content: "\e604";
}
.icon-shop:before {
  content: "\e676";
}
.icon-time:before {
  content: "\e65f";
}
.icon-round-right:before {
  content: "\e65b";
}
.icon-round-right-fill:before {
  content: "\e65a";
}
.icon-home:before {
  content: "\e6b8";
}
.icon-people:before {
  content: "\e736";
}
.icon-people:before {
  content: "\e736";
}
.icon-location_fill:before {
  content: "\e650";
}
.icon-fold:before {
  content: "\e6de";
}
.icon-unfold:before {
  content: "\e661";
}

