.koany-search {
  &__header {
    &-fixed {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      z-index: 10;
    }
  }
  .nomore {
    padding-top: 54PX;
    background-size: auto 50PX;
    color: grey;
    text-align: center;
    font-size: 12PX;
    margin: 15PX 0 20PX;
  }
}
